<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      
      <!--  AlphaSolutions.ExtendedCRMProvider.Disable.Customizations
            Property to be able to disable all customizations provided by the ExtendedCRMProvider. 
            Default value: False
      -->
      <setting name="AlphaSolutions.ExtendedCRMProvider.Disable.Customizations" value="False" />
      
      <!--  AlphaSolutions.ExtendedCRMProvider.V5.TokenExpirationWindow
            Property to define the window in which to refresh the CRM api V5 authentication token, before it expires. 
            Default value: 15
      -->
      <setting name="AlphaSolutions.ExtendedCRMProvider.V5.TokenExpirationWindow" value="15" />
      
      <!--  AlphaSolutions.ExtendedCRMProvider.V5.Disable.AuthenticationCustomization
            Property to be able to disable the customized Authentication, for the CRM api V5
            ManagedTokenOrganizationServiceProxy. The enhanced token expiration check and reauthentication.
            Default value: False
      -->
      <setting name="AlphaSolutions.ExtendedCRMProvider.V5.Disable.AuthenticationCustomization" value="False" />
      
      <!--  AlphaSolutions.ExtendedCRMProvider.V5.Disable.DynamicLists
            Property to be able to disable the dynamiclists feature provided by the ExtendedCRMProvider. 
            Default value: False
      -->
      <setting name="AlphaSolutions.ExtendedCRMProvider.V5.Disable.DynamicLists" value="False" />
    </settings>
  </sitecore>
</configuration>