<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    
    <!--The change is in the crm provider where the type has changed to: 
    "AlphaSolutions.SitecoreCms.ExtendedCRMProvider.Repository.Factory.CRMMembershipProvider, AlphaSolutions.SitecoreCms.ExtendedCRMProvider"
    -->
    <membership defaultProvider="sitecore" hashAlgorithmType="SHA1">
      <providers>
        <clear />
        <add name="sitecore" type="Sitecore.Security.SitecoreMembershipProvider, Sitecore.Kernel" realProviderName="switcher" providerWildcard="%" raiseEvents="true" />
        <add name="sql" type="System.Web.Security.SqlMembershipProvider" connectionStringName="core" applicationName="sitecore" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="256" />
        <add name="switcher" type="Sitecore.Security.SwitchingMembershipProvider, Sitecore.Kernel" applicationName="sitecore" mappings="switchingProviders/membership" />
        <add name="crm" type="AlphaSolutions.SitecoreCms.ExtendedCRMProvider.Repository.Factory.CRMMembershipProvider, AlphaSolutions.SitecoreCms.ExtendedCRMProvider" readOnly="false" connectionStringName="CRMConnString" applicationName="sitecore"  minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordStrengthRegularExpression=".*"  requiresUniqueEmail="false"  passwordFieldName=""  autoCreatePasswordField="false"  enablePasswordReset="false"/>
        <add name="wrapper" type="CRMSecurityProvider.CRMMembershipProviderPerformanceWrapper, CRMSecurityProvider" realProviderName="crm" />
      </providers>
    </membership>

    <!--The change is in the crm provider where the type has changed to: 
    "AlphaSolutions.SitecoreCms.ExtendedCRMProvider.CRMRoleProvider, AlphaSolutions.SitecoreCms.ExtendedCRMProvider"-->
    <roleManager defaultProvider="sitecore" enabled="true">
      <providers>
        <clear />
        <add name="sitecore" type="Sitecore.Security.SitecoreRoleProvider, Sitecore.Kernel" realProviderName="switcher" raiseEvents="true" />
        <add name="sql" type="System.Web.Security.SqlRoleProvider" connectionStringName="core" applicationName="sitecore" />
        <add name="switcher" type="Sitecore.Security.SwitchingRoleProvider, Sitecore.Kernel" applicationName="sitecore" mappings="switchingProviders/roleManager" />
        <add name="crm" type="AlphaSolutions.SitecoreCms.ExtendedCRMProvider.CRMRoleProvider, AlphaSolutions.SitecoreCms.ExtendedCRMProvider" connectionStringName="CRMConnString" readOnly="false"/>
        <add name="wrapper" type="CRMSecurityProvider.CRMRoleProviderPerformanceWrapper, CRMSecurityProvider" realProviderName="crm"/>
      </providers>
    </roleManager>
    
    <!--The change is in the crm provider where the type has changed to:
    "AlphaSolutions.SitecoreCms.ExtendedCRMProvider.CRMProfileProvider, AlphaSolutions.SitecoreCms.ExtendedCRMProvider"-->
    <profile defaultProvider="switcher" enabled="true" inherits="Sitecore.Security.UserProfile, Sitecore.Kernel">
      <providers>
        <clear />
        <add name="sql" type="System.Web.Profile.SqlProfileProvider" connectionStringName="core" applicationName="sitecore" />
        <add name="switcher" type="Sitecore.Security.SwitchingProfileProvider, Sitecore.Kernel" applicationName="sitecore" mappings="switchingProviders/profile" />
        <add name="crm" type="AlphaSolutions.SitecoreCms.ExtendedCRMProvider.CRMProfileProvider, AlphaSolutions.SitecoreCms.ExtendedCRMProvider" connectionStringName="CRMConnString" readOnly="false"/>
        <add name="wrapper" type="CRMSecurityProvider.CRMProfileProviderPerformanceWrapper, CRMSecurityProvider" realProviderName="crm"/>
      </providers>
    </profile>
  </system.web>

  <runtime>
    <!--MAKE sure the following assembly bindings are present in your web.config file.-->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Crm.Sdk.Proxy" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="7.0.0.0" />
        <publisherPolicy apply="no" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="7.0.0.0" />
        <publisherPolicy apply="no" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="6.0.0.0" />
        <publisherPolicy apply="no" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>